.app {
  height: 100vh;
  background-color: var(--color-secondary);
  &__header,
  &__body {
    margin: auto;
    max-width: 300px;
    width: 100%;
    width: 90%;
  }
  &__header {
    color: var(--color-primary);
    &--background {
      background-color: var(--color-tertiary);
      padding: 80px 0 20px 0;
    }
  }
  &__body {
    margin-top: 20px;
    height: 70%;
  }
  &__footer {
    padding: 0 30px 30px 30px;
    color: var(--color-primary);
  }
  &__author {
    color: var(--color-adjcent);
  }
}

@media (max-height: 500px) {
  .app {
    &__header {
      &--background {
        padding: 0;
      }
    }
    &__footer {
      padding: 0 5% 2% 5%;
    }
  }
}
